__pycache__/
*.py[cod]
venv/
.env
.venv/
*.log
*.db
credentials/
client_secrets.json
token.json
config.json
*.mp4
*.mov
processed/
inbox/
.vscode/
.dockignore
.spyderproject/config
.gitignore


.gemini/
gha-creds-*.json
